* body, html {height: 100%}
body,h1,h2,h3,h4,h5,h6 {font-family: 'Nunito', sans-serif; color: #fff;
}
.menu {display: none}

* a{
  text-decoration: none;
}
  .block {
      display: inline-block;
      width: fit-content;
      background-color: #3782b0;
      padding: 40px;
      margin: 5px;
      border-radius: 20px;
      box-sizing: border-box;
    }
    .block1 {
      display: inline-block;
      width: fit-content;
      background-color: #3782b0;
      padding: 40px;
      margin: 5px;
      border-radius: 20px;
      box-sizing: border-box;
    }

  .button {
    background-color: #03fcf0;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  .button5
   {border-radius: 50%;}
   .myNavbar {
    height: 100px;
  }
  .w3-container{
    background-color: #1d2250;
  }

  .arrow-up {
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    
    border-bottom: 5px solid black;
  }
  .foot1 h1{
    color: white;
  }
  .foot1 a{
    color: black;
  }
  .container1 {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
  }
  .responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }



  .imgcontainer {
    position: relative;
    text-align: center;
    color: white;
    height: auto ;
    width: auto;
  }

  .bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
  }
  
  .top-left {
    position: absolute;
    top: 8px;
    left: 16px;
  }
  
  .top-right {
    position: absolute;
    top: 8px;
    right: 16px;
  }
  
  .bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
  }
  
  .centered {
    position: absolute;
    top: 50%;
    left: 70.79%;
    transform: translate(-50%, -50%);
  }
  .links{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 100%;
    font-size: 20px;
  }
 
